.card {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	padding: 1rem;
	border: red;
	border-radius: 1rem;
	border: solid black 1px;
}

.column div + div {
	margin-top: 1rem;
}


.button {
	display: block;
	width: 10rem;
	padding: 1rem;
	text-align: center;
	border-radius: 1rem;
	background-color: grey;
}